<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>Mon gestionnaire de travaux</h1>
    <p>Postez, Gérez et Optimisez vos recherche d'artisants pour travaux</p>
    <%= link_to "Découvrir", "#how", class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="section">
    <h2 id="how" class="text-center">Comment cela fonctionne?</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_roadwork_path do %>
          <div class="icon">
            <%= image_tag "roadwork.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Créez votre projet de travaux</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_roadwork_path do %>
          <div class="icon">
            <%= image_tag "circles.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Ajoutez les détails et précisions</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_roadwork_path do %>
          <div class="icon">
            <%= image_tag "watering.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Gérez vos demandes et le suivis</p>
      </div>
    </div>
  </div>
  <div class="section">
    <h2 class="text-center">La Meilleure Communauté pour travaux</h2>
    <div class="cards">
      <% @roadworks.each do |roadwork| %>
        <%= render "roadwork_card", roadwork: roadwork %>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="text-center">
      <%= link_to "Créer mon projet", new_roadwork_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
